.component-store {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.component-store p {
    margin: 0;
    margin-top: 2px;
}

.pricing {
    color: green;
}

.image-left, .info-right {
    display: inline-block;
}

.info-right {
    margin-left: 10px;
}

.image-left {
    vertical-align: top;
}

.description {
    font-size: 13px;
    width: 150px;
}

.sidebar-content {
}