.component-store {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
}

.component-store p {
    margin: 0;
    margin-top: 2px;
}

.component-storeitem {
    display: flex;
    align-items: top;
}

.component-storeitem button {
    position: absolute;
    font-size: 11px;
    padding: 5px;
    border-radius: 3px;
    bottom: 0;
}

.pricing {
    color: green;
}

.info-right {
    position: relative;
    margin-left: 10px;
}

.description {
    font-size: 13px;
    width: 150px;
}

.component-filter .dollar {
    position: absolute;
}

.input-container {
    width: 100%;
}

.dollar {
    text-align: left;
    width: 70px;
    padding: 5px;
}

.input-container input {
    text-align: center;
}